<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GLSLhelper" version="0.1.9" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.NetStandard" version="1.0.4" targetFramework="net461" />
  <package id="StbImageSharp" version="2.22.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.6.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Zenseless.ExampleFramework" version="0.5.131" targetFramework="net461" />
</packages>